body {
    font-family: sans-serif
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a:link {
    color: #c11d43;
    font-family: sans-serif;
    font-size: 1.5em;
}

a:visited {
    color: #c11d43;
}

a:link.active {
    font-weight: bold;
    color: #000; 
    text-decoration: none;
}

a:visited.active {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

div.ReactVirtualized__Table__rowColumn:first-of-type, div.ReactVirtualized__Table__headerColumn:first-of-type {
                                                          text-align: left;
}
div.ReactVirtualized__Table__rowColumn, div.ReactVirtualized__Table__headerColumn {
    text-align: right;
}

div.ReactVirtualized__Table__row:nth-child(odd) {
    background: #EEE;
}

body {
    background:  url("/bg_parchment.jpg");

}
main#page-wrap {
    min-width: 500px;
}

ul {
    list-style-type: None;
    padding: 5px;
}

li {
    margin-left: None;
    padding-left: None;
}

th, li:nth-child(even), tr:nth-child(even) {
    background-color: rgba(0,0,0,0.1);
}

